
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  color: #000;
  text-decoration: none;
}

p {
  font-size: 16px;
  text-align: justify;
}

body {
  background: rgb(238, 238, 238);
  font-family: "Roboto Slab", "serif";
}

#nav {
  position: fixed;
  padding: 0px 3vw;
  background: #fff;
  box-shadow: 0px 6px 6px rgba(0,0,0,0.2);
  height: 47px;
  width: 100%;
  z-index: 10;
  top: -47px;
  transition: all 0.5s ease-out;
}

#nav img {
  margin: auto 0;
  height: 90%;
  width: auto;
  float: left;
  position: relative;
}

.links {
  width: 320px;
  position: relative;
  float: right;
  height: 100%;
}

.container.links {
  padding: 0;
  margin-right: 20px;
  float: right;
  width: 320px;
  height: 47px;
  position: relative;
}

.links ul{
  position: relative;
  margin: 0 auto;
  list-style: none;
}

.links ul li a{
  font-size: 14px;
  float: left;
  font-family: 'Staatliches', sans-serif; 
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  position: relative;
  margin-left: 10px;
  padding: 10px 1vw;
}
.links li a:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 4px solid #ffd600;
  border-top: 4px solid #ffd600;
  height: 80%;
  width: 100%;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
.links li a:hover:after {
  content: "";
  transform: scaleX(1);
  transition: all 0.45s ease-out;
}

.demos {
  overflow: hidden;
  width: 55vw;
  height: 100vh;
  float: left;
  position: relative;
}

.demos:after {
  content: "";
  position: relative;
}

.container {
  float: left;
  overflow: hidden;
  width: 42vw;
  height: 100vh;
  
}

.divider {
  position: relative;
  width: 0;
  height: 100vh; 
  background: #212121;
  border: none;
  left: 12px;
  box-shadow: -3px 0px 6px rgba(0,0,0,0.2);
  z-index: 4;
}

.white {
  width: 40%;
  background: none;
  background-color: rgb(238, 238, 238);
  border: none;
  transform: skewX(-6deg);
  left: 90%;
  box-shadow: -6px 0px 8px rgba(0,0,0,0.2);
}

.intro {
  position: relative;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 10%;
}

.btn-label {
  font-size: 24px;
  color: #000;
  text-align: center;
  letter-spacing: 3px;
  font-family: 'Staatliches', sans-serif; 
}

.btn-container {
  width: 45%;
  padding: 1em 0.8em;
  position: relative;
  background-color: transparent;
  border: 4px solid #ffd600;
  margin: 0 auto;
  transition: 0.7s;
  overflow: auto;
  z-index: 2;
}

/*.btn-icon {
  height: 24px;
  width: 24px;
  padding: 10px 0px;
  float: left;
}
*/
.btn-container:hover {
  box-shadow: 6px 4px 12px rgba(0,0,0,0.2);
  transform: scale(1.25);
}

.btn-container:after {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffd600;
  z-index: -1;
  transition: all 0.4s ease-out;
}

.btn-container:hover:after {
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.wrapper {
  overflow: hidden;
}

.wrapper:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80vw;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
}
.slider {
  height: 100%;
  width: 100%;
  position: absolute;
  background: url("../img/sliding_image.png");
  background-repeat: repeat;
  background-size: auto 100%;
  background-position: 0 0;
  animation: slide 180s linear infinite;
}
.logo {
  position: relative;
  margin: 30% auto;
  right: 7%;
  display: block;
  box-shadow: 4px 6px 8px rgba(0,0,0,0.6);
  z-index: 4;
}
#about {
  background: #4068FF;
  color: white;
  transition: all 2s ease-in;
}

#main{
  height: 100vh;
  width: 100%;
}

#main p {
  padding: 2vh 1vw;
}
.platforms {
  height: 10vw;
  width: auto;
  margin: 20% auto;
  display: flex;
  align-items: center;
}
.platforms embed {
  position: relative;
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.header {
  width: 100%;
  text-align: center;
  font-family: 'Staatliches', sans-serif; 
  position: relative;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px;;
}

section {
  display: block;
  position: relative;
  height: 100vh;
  width: 100%;
}
section:not(#main){
  padding: 20px;
}
.photo {
  border-radius: 50%;
  display: block;
  position: relative;
  height: auto;
  width: 60%;
  margin: 0 auto;
}
.photo-card {
  float: right;
  padding: 20px;
  background: white;
  width: 30%;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  
}
.photo-card h3 {
  padding: 15px 0;
  text-align: center;
  color: #000;
}
.photo-card ul {
  color: rgba(0,0,0,0.7);
  margin: 0 auto;
  
}
.photo-card ul li {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10px;
  list-style: none;
}
section p {
  float:left;
  text-align: justify;
  width: 30%;
  padding: 5% 3%;
  line-height: 1.8em;
}
section h3{
  margin: 0 auto;
}
.slider {
  animation-duration: 100s;
}
.logo {
  margin: 20% auto;
  left: 0.85vw;
}

#skills {
  width: 25%;
  border: 1px solid rgb(255, 255, 255, 0.7);
  padding: 12px 20px;
  border-radius: 10px;
  position: relative;
  display: block;
  margin: 4% auto;
  
}
#skills h3 {
  text-align: center;
  padding: 20px 0; 
}
#skills table {
  margin: auto;
}
#skills table tr td {
  padding: 10px;
  list-style: none;
  transition: all 0.3s ease;
}
#skills table tr td:hover {
  transition: all 0.3s ease;
  background:rgba(255, 255, 255,0.4);
}
#projects {
  background: #FFF140;
  color:#000;
}

#contact {
  background: #141414;
  height: 60vh;
  color: #fff;
}

#banners {
  width: 40%;
  height: auto;
  float: right;
  margin: 4% 5%; 
}

#preview {
  border: 3px dashed gray;
  border-radius: 10px;
  height: 65%;
  width: fit-content;
  margin: 2% 5%; 
  box-sizing: border-box;
  float: left;
}
#preview img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

#banners img {
  height: auto;
  width: 100%;
  opacity: 0.75;
  position: relative;
  display: block;
  transition: all 0.45s ease;
  margin: 1.5vw 0;
}
#banners img:hover {
  opacity: 1;
  transform: scale(1.2);
  box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
  transition: all 0.8s ease;
}
#menu {
  display: none;
  float: right;
  height: 47px;
  width: 47px;
}
#menu embed {
  height: 60%;
  width: 60%;
  margin: 20%;
  pointer-events: none;
}



/***************************************************/
@media (max-width: 900px), (max-device-width: 900px){
  .divider {
    top: 90%;
    left: 0;
    height: 15vh;
    width: 100vw;
    transform: skewY(-5deg); 
    box-shadow: 0px -6px 8px rgba(0,0,0,0.2);
  }
  #main {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    width: 100%;
    position: relative;
  }
  .container {
    width: 100%;
    height: auto; 
    padding-bottom: 20px;
  }
  .intro {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    position: relative;
  }
  .btn-container{
    margin-top: 12%;
  }
  .demos {
    width: 100vw;
    float: none;
    height: 45vh;
  }
  .demos:after {
    width: 100vw;
    height: 100vh;
  }
  .wrapper:after{
    width: 100%;
    height: 100%;
  }
  .container.links {
    visibility: hidden;
  }
  #about {
    height: auto;
    padding-bottom: 20px;
  }

  .photo-card {
    float: none;
    position: relative;
    height: auto;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
  }
  #about p {
    float: none;
    width: auto;
    line-height: 1.4em;
    padding-bottom: 0;
  }
  #skills{
    float:none;
    margin-right: 4%;
    width: auto;
    height: auto;
  }
  table, tr, td {
    display: block;
  }
  tr, td {
    float: left;
    
  }
  table {
    padding-left: 5%;
  }
  .platforms {
    height: 18vw;
    width: 100%;
    margin: 12% auto;
  }
  #nav {
    top : 0;
  }
  #menu {
    display: block;
  }
  #dropdown {
    display: none;
  }
  .links {
    position: absolute;
    width: 100%;
    top: 47px;
    background: #313131;
    left: 0;
    height: auto;
    box-shadow: 0px 6px 8px rgba(0,0,0,0.2);
  }
  .links ul { 
    margin: 0 auto;
  }
  .links ul li {
    padding: 10px 0;
  }
  .links ul li a{
    height: auto;
    border: inherit;
    color: #fff;
    float: none;
    text-align: center;
  }
  

}
@media (max-width: 768px){
  .container.links {
    margin-left: 12%;
  }
}

@media only screen and (max-width: 640px), only screen and (max-device-width: 640px){
  .divider {
    top: 90%;
    left: 0;
    height: 15vh;
    width: 100vw;
    transform: skewY(-5deg); 
    box-shadow: 0px -6px 8px rgba(0,0,0,0.2);
  }
  #main {
    overflow-x: hidden;
    overflow-y: auto;
    height: auto;
    width: 100%;
    position: relative;
  }
  .container {
    width: 100%;
    height: auto; 
    padding-bottom: 20px;
  }
  .intro {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  .btn-container{
    margin-top: 12%;
  }
  .demos {
    width: 100vw;
    float: none;
    height: 45vh;
  }
  .demos:after {
    width: 100vw;
    height: 100vh;
  }
  .wrapper:after{
    width: 100%;
    height: 100%;
  }
  .container.links {
    visibility: hidden;
  }
  #nav {
    width: 100vw;
  }
  .logo {
    margin-top: 10%;
    transform: scale(0.7);
    right: 1%;
  }
  .slider{
    transition-duration: 100s;
  }

}
@media(max-width: 325px){
}
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1000% 0;
  }
}